/* Apply the container class to each section */
.about-main{
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-color: #8a5a00;
  border-style: solid;
}

.about-container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; /* Adjust as necessary for your design */
    background-color: #ffffff; /* Or any other color that fits your brand */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #2c3e50;
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
  }
