body {
  background-color: #181818;
}  


.home {
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the children horizontally */
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  line-height: 1.6;
}
  
.container {
  padding: 20px;
  margin-left: auto; 
  margin-right: auto; 
  max-width: 1200px; 
  border-radius: 8px; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.golden-container {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-color: #8a5a00;
  border-style: solid;
}

.centered-header{
  text-align: center;
}

p {
  color: #ffffff;
  font-size: 1.1rem;
  margin: 1em 0;
  text-rendering: optimizeSpeed;
}
  
h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  display: inline-block; /* Ensures the line is only as wide as the text */
  margin-bottom: 1em; /* Space below the heading */
  
}

h1::after {
  content: '';
  display: block;
  width: 50px; /* Width of the decorative line */
  height: 5px; /* Increased thickness of the line */
  background-color: #8a5a00; /* Color of the line */
  position: absolute;
  left: 0;
  bottom: -6px; /* Adjusted for the new thickness */
  border-radius: 2.5px; /* Half of the height to make the ends fully rounded */
}

h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-rendering: optimizeLegibility;
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  display: inline-block; /* Ensures the line is only as wide as the text */
  margin-bottom: 1em; /* Space below the heading */
}

h2::after {
  content: '';
  display: block;
  width: 100%; /* Width of the decorative line */
  height: 5px; /* Increased thickness of the line */
  background-color: #8a5a00;
  position: absolute;
  left: 0;
  bottom: -6px; /* Adjusted for the new thickness */
  border-radius: 2.5px; /* Half of the height to make the ends fully rounded */
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 0.5em 0;
  padding-left: 1em;
  text-indent: -0.7em;
}

.dashed-list li::before {
  content: "— "; /* Keep the dash here */
  color: #8a5a00;
  /* ... other styles ... */
}

.animate-on-scroll {
opacity: 0;
transform: translateY(20px);
transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-on-scroll.animate {
opacity: 1;
transform: translateY(0);
}

a {
color: #8a5a00;
}


.text-content {
  flex: 1;
  margin-right: 20px;
}

.image-content {
  flex: 1;
  margin-top: 40px;
}


@media (max-width: 1083px) {
  img {
    width: 90vw;  /* Ensure the image doesn't exceed its original size */
    /* height: auto; */
    display: block; /* Remove extra space below the image */
    margin: auto; /* Center the image horizontally */
    padding: auto;
    image-rendering: optimizeQuality;
  }

  .services-content {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1083px) {
  img {
    width: 520px;  /* Ensure the image doesn't exceed its original size */
    /* height: auto; */
    display: block; /* Remove extra space below the image */
    margin: auto; /* Center the image horizontally */
    padding: auto;
    image-rendering: optimizeQuality;
  }

  .services-content {
    display: flex;
    flex-direction: row;
  }
}