.slide-container {
  width: 100%; /* Use a percentage instead of 100vw */
  max-width: 100vw; /* Add max-width to ensure responsiveness */
  height: 25vw; /* You can adjust the height as needed */
  margin: auto;
  overflow: hidden; /* Hide any potential overflow */
}

.image-container {
  width: 100%; /* Use a percentage instead of 100vw */
  height: 100%; /* Adjust the height as needed */
}

.image-container img {
  width: 100%;
  height: 100%;
}

.each-fade {
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}