.slide-container {
  width: 100vw;
  height: 25vw; /* Adjust the height as needed */
  margin: auto;
  overflow-x: hidden;
}

.image-container {
  width: 100vw; /* Use a percentage instead of 100vw */
  height: 100%; /* Adjust the height as needed */
  pointer-events: none;
}

.image-container img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.each-fade {
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}