/* Apply the container class to each section */
.projects-main{
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  /* border-color: #8a5a00; */
  border-color: rgb(0,9,128);
  border-style: solid;
}

.projects-containers-container {
    display: flex;
    gap: 20px; /* Adjust the space between product cards */
    padding: 20px; /* Padding around the entire products container */
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; /* Maximum width of the container */
    justify-content: center;
  }
  
  .projects-container1,
  .projects-container2 {
    flex: 1; /* Both containers will take equal space */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the space between product cards */
    padding: 20px; /* Padding around each products container */
  }
  
  .projects-container2 {
    margin-top: 125px; /* Additional top margin for staggered effect */
  }
    
    .project-item {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center the items horizontally */
      border: 1px solid #ddd; /* A light border around each card */
      border-radius: 8px; /* Rounded corners for the card */
      overflow: hidden; /* Ensures the content fits within the card */
      background-color: #fff; /* Background color for the card */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
      opacity: 0; /* Start with items invisible */
      transform: translateY(20px); /* Start slightly lower */
    }

    .project-item a{
      color: #ffffff;
      text-decoration: none; /* Remove underline */
    }
  
    .project-item a:visited {
      color: rgb(252, 252, 252);
    }
    
    .project-item a:hover, .project-item a:active {
      color: rgb(255, 255, 255);
    }

    .project-item.animate {
      opacity: 1; /* Full visibility */
      transform: translateY(0); /* Move to final position */
      transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition for fade and movement */
    }
    
    .project-image {
      width: 100%; /* Full width of the card */
      object-fit: cover; /* Cover the image area, crop if necessary */
      height: 200px; /* Fixed height for all images */
    }
    
    .project-name {
      padding: 10px;
      font-size: 1.2em; /* Larger text for the product name */
      text-align: center; /* Center the text */
      margin: 10px 0; /* Space above and below the product name */
    }
    