.reservations-container {
    margin: 20px;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservations {
    display: flex;
    flex-wrap: wrap;
}

.reservation {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; /* Adjust margin to create space between reservations */
    width: 100%; /* Set width to 100% to make each reservation take up full width */
}

.reservation h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.reservation-details-container {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line if they don't fit horizontally */
}

.reservation-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px; /* Add margin between reservation details */
    margin-right: 20px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Take up full width of the screen */
}

.search-bar {
    position: relative; /* Set position to relative */
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Adjust border-radius to make corners more rounded */
    font-size: 16px;
}

.clear-button,
.sort-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}

.clear-button:hover,
.sort-button:hover {
    color: #007bff; /* Change this to your desired color */
}

.clear-button {
    position: absolute; /* Set position to absolute */
    top: 50%; /* Position the button vertically at the center */
    right: 30px; /* Position the clear button on the right side with some space */
    transform: translateY(-50%); /* Adjust vertical position */
}

.sort-button {
    position: absolute; /* Set position to absolute */
    top: 50%; /* Position the button vertically at the center */
    right: 0px; /* Position the clear button on the right side with some space */
    transform: translateY(-50%); /* Adjust vertical position */
}

.sort-button {
    margin-left: 10px; /* Add margin between clear button and sort button */
}

.sort-button img {
    width: 20px;
}

.sort-menu {
    position: absolute; /* Set position to absolute */
    top: calc(100% + 5px); /* Position the menu below the sort button with a small gap */
    right: 0; /* Align the menu with the right edge of the sort button */
    background-color: #fff; /* Set background color */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    z-index: 1; /* Ensure the menu is above other content */
}

/* Add styles for the sort options */
.sort-option {
    padding: 10px; /* Add padding */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.sort-option:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}


/* Add styles to show the sort menu when it's open */
.sort-menu.open {
    display: block;
}

.cancel-button {
    background-color: none;
    color: red;
}

/* Add styles to show the sort menu when it's open */
.canceled {
    color: red;
}

.accepted {
    color: green;
}

.t {
    width: 100%;
}